venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

# Vector DBs
task_01_resume_rag/data/vector_db/

# Outputs
task_01_resume_rag/outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs & Temp
*.log
logs/
temp/
tmp/

# Notebook cache
*.sqlite
.cache/

# Model cache
models/
hf_cache/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/