venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

# Vector DBs
task_01_resume_rag/data/vector_db/

# Outputs
task_01_resume_rag/outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Notebook cache
*.sqlite

# Model cache
models/
hf_cache/