fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
python-docx
python-multipart
transformers
torch
numpy
pandas
scikit-learn
python-dotenv
tqdm